<p>Hi {{first_name}},</p>

<p>Following is the OTP for verify your email.</p>
<p>Email verification OTP: <strong>{{email_verification_otp}}</strong></p>
<p>Click the following URL to verify your email (copy the following URL and pase in to the browser).</p>
<p>URL: <a href="{{url}}">{{url}}</a></p>