<p>Hi {{first_name}},</p>

<p>Following are the details for resetting the password.</p>
<p>Reset password OTP: <strong>{{forgot_password_otp}}</strong></p>
<p>Click the following URL to reset password (copy the following URL and pase in to the browser).</p>
<p>URL: <a href="{{url}}">{{url}}</a></p>